fineweb10B/
pylog124M/
__pycache__/
logs/
figures/
records/
wandb/
out_moe/
out_125M/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite
logs/
wandb/

# Environment
.env
.venv
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo